html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        font,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        tt,
        var,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td {
            border: 0pt none;
            font-family: Times New Roman;
            font-size: 100%;
            font-style: inherit;
            font-weight: inherit;
            margin: 0pt;
            outline-color: invert;
            outline-style: none;
            outline-width: 0pt;
            padding: 0pt;
            vertical-align: baseline;
        }

        a {
            color: #1772d0;
            text-decoration: none;
        }

        a:focus,
        a:hover {
            color: #f09228;
            text-decoration: none;
        }

        a.paper {
            font-weight: bold;
            font-size: 12pt;
        }

        b.paper {
            font-weight: bold;
            font-size: 12pt;
        }

        * {
            margin: 0pt;
            padding: 0pt;
        }

        body {
            position: relative;
            margin: 3em auto 2em auto;
            width: 1000px;
            font-family: Times New Roman;
            font-size: 16px;
            background: #eee;
        }

        h2 {
            font-family: Times New Roman;
            font-size: 16px;
            font-weight: 700;
        }

        h3 {
            font-family: Times New Roman;
            font-size: 16px;
            font-weight: 700;
        }

        strong {
            font-family: Times New Roman;
            font-size: 16px;
            font-weight: bold;
        }

        ul {
            list-style: circle;
        }

        img {
            border: none;
        }

        li {
            padding-bottom: 0.5em;
            margin-left: 1.4em;
        }

        alert {
            font-family: Times New Roman;
            font-size: 18px;
            font-weight: bold;
            color: #FF0000;
        }

        em,
        i {
            font-style: italic;
        }

        div.section {
            clear: both;
            margin-bottom: 1.5em;
            background: #eee;
        }

        div.spanner {
            clear: both;
        }

        div.paper {
            clear: both;
            margin-top: 0.5em;
            margin-bottom: 1em;
            border: 1px solid #ddd;
            background: #fff;
            padding: 1em 1em 1em 1em;
        }

        div.paper div {
            padding-left: 230px;
        }

        img.paper {
            margin-bottom: 0.5em;
            margin-right: 1em;
            float: left;
            width: 200px;
            height: 150px;
        }

        span.blurb {
            font-style: italic;
            display: block;
            margin-top: 0.75em;
            margin-bottom: 0.5em;
        }

        pre,
        code {
            font-family: Times New Roman;
            margin: 1em 0;
            padding: 0;
        }

        div.paper pre {
            font-size: 0.9em;
        }

        /* 导航栏 */
.navbar {
    display: flex; /* 使用flex布局 */
    align-items: center; /* 垂直居中 */
    background-color: #0156a3;
    position: fixed; /* fix to the top of the page. 固定在页面顶部 */
    top: 0;
    left: 0; /* 确保从最左边开始 */
    right: 0; /* 确保延伸到最右边 */
    width: 100%;
    height: 45px;
    z-index: 1000; /* ensure the navigation bar is above other content. 保证导航栏在其他内容之上 */
    padding: 0 11%; /* 添加一些内边距 */
    box-sizing: border-box; /* 确保padding包含在width内 */
}

.navbar-logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 4%; /*图片和链接之间的间距*/
}
        .navbar-logo img {
    height: 80%; /* 固定图片高度 */
    width: auto; /* 保持宽高比 */
}

.navbar-logo a {
    display: inline-flex; /* 改为inline-flex */
    align-items: center;
    color: white;
    padding: 0 15px; /* 减少左右padding */
    height: 100%;
    text-decoration: none;
    font-size: 18px;
    scroll-margin-top: 100px;
}

.navbar-links {
    display: flex;
    height: 100%;
    align-items: center;
    flex-grow: 1; /* 让链接区域占据剩余空间 */
    justify-content: flex-start; /* 左对齐 */
    overflow-x: auto; /* 允许横向滚动 */
    white-space: nowrap; /* 防止换行 */
}

/* 修改链接项 */
.navbar-links a {
    display: inline-flex; /* 改为inline-flex */
    align-items: center;
    color: white;
    padding: 0 15px; /* 减少左右padding */
    height: 100%;
    text-decoration: none;
    font-size: 18px;
    scroll-margin-top: 100px;
}

/* effect on mouse hover */
/* 鼠标悬停时的效果 */
.navbar a:hover {
    background-color: #002D72;
    color: white;
    height: 100%;
}